body {
	background-color: #000000;
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	color: #ffffff;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	gap: 50px;
}

.primary-text {
	font-size: 32px;
	line-height: 42px;
}

.profiles-box {
	display: flex;
	flex-direction: row;
	gap: 25px;
	justify-content: center;
	margin-top: 40px;
	box-sizing: border-box;
}

.profile {
	display: flex;
	background-color: #1e1e20;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 8px;
	overflow: hidden;
	width: 160px;
	height: 160px;
}

.user img {
	transition: transform 0.4s ease-in-out;
}

.user:hover img {
	transform: scale(1.3);
}

.user:hover .profile {
	border: 2px solid #ffffff;
}

.user:hover {
	color: #ffffff;
	cursor: pointer;
}

.button1 {
	background-color: #000000;
	border: 1.5px solid #ffffff;
	box-sizing: border-box;
	border-radius: 8px;
	color: #ffffff;
	width: 206px;
	height: 50px;
	font-family: "IBM Plex Sans";
	font-weight: 500;
	font-size: 16px;
	transition-property: background-color, color;
	transition: 0.3s ease-in-out;
}
.button1:hover {
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 95px;
}

.user {
	text-align: center;
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 50px;
	color: #9c9c9c;
}

footer {
	margin-top: 100px;
	text-align: center;
}